svg text {
	pointer-events: none;
}
svg [data-tooltip-html] {
    pointer-events: auto;
}

svg.sql { 
    font-family: Arial;
    font-size: 14px;
}
svg.sql rect {
    fill: transparent;
}       
svg.sql text {
    text-anchor: middle; 
    dominant-baseline: middle;
    fill: black;
}
svg.sql g.queryBlock > rect {
    stroke: black;
}
svg.sql g.queryBlock.topNode > rect {
	fill: #cccccc; 
}
svg.sql g.union > rect { 
	stroke: black;
	fill: #b3b3b3; 
}

svg.sql g.duplicatesRemoval > rect,
svg.sql g.orderingOperation > rect,
svg.sql g.groupingOperation > rect { 
	stroke: #cfcf40; 
	stroke-width: 2; 
	rx: 9; 
	ry: 9; 
}

svg.sql g.window > rect {
    stroke: #cfcf40; 
    stroke-width: 2; 
    rx: 9; 
    ry: 9; 
}

svg.sql g.insertQueryBlock > rect {
    stroke: #cfcf40; 
    stroke-width: 2;
    pointer-events: none; 
}

svg.sql g.orderingOperation.hasTempTable > rect { 
	stroke: #bf4040;
}
svg.sql g.groupingOperation.hasTempTable > rect { 
    stroke: #bf8000;
}
svg.sql g.window.hasTempTable > rect { 
    stroke: #bf8000;
}


svg.sql g.table.nonUniqueKey > text,
svg.sql g.table.uniqueKey > text,
svg.sql g.table.fullTableScan > text,
svg.sql g.table.fullIndexScan > text,
svg.sql g.table.singleRow > text,
svg.sql g.table.range > text { 
    fill: white;
    font-size: 11px; 
}

svg.sql g.table > rect { 
    stroke: black; 
}

svg.sql g.table.nonUniqueKey > rect { 
	fill: #339933; 
}
svg.sql g.table.uniqueKey > rect { 
	fill: #008000; 
}
svg.sql g.table.fullTableScan > rect { 
	fill: #bf4040; 
}
svg.sql g.table.fullIndexScan > rect { 
	fill: #bf4040; 
}
svg.sql g.table.singleRow > rect { 
    fill: #4080bf;
}
svg.sql g.table.range > rect { 
    fill: #bf8000;
}
svg.sql g.table.insert > rect { 
    fill: black;
}


svg.sql g.queryCost > text { 
	font-size: 11px; 
} 
svg.sql g.lhsQueryCost > text { 
	font-size: 11px; 
	text-anchor: start; 
}
svg.sql g.rhsQueryCost > text { 
	font-size: 11px; 
	text-anchor: end; 
}
svg.sql g.tableName > text { 
	font-size: 11px; 
} 
svg.sql g.tableKey > text { 
	font-size: 11px; 
	font-weight: bold; 
} 

svg.sql g.tempTableName > text { 
	font-size: 10px; 
	font-weight: bold; 
}
svg.sql g.windowName > text { 
    font-size: 10px; 
    font-weight: bold; 
}

svg.sql g.tooltip div.tooltip {
	font-size: 11px;
	padding: 4px; 
	white-space: pre; 
	display: inline-block; 
	background: white; 
	border: 1px solid black; 
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

svg.sql g.container > rect {
    stroke: transparent;
}
svg.sql g.materialisedFromSubqueryBorder > rect {
	stroke: #8c8c8c;
	stroke-dasharray: 4;
}
svg.sql g.selectListSubqueries > rect {
    stroke: black;
    stroke-dasharray: 2;
}
svg.sql g.attachedSubqueries > rect {
	stroke: black;
	stroke-dasharray: 2;
}
svg.sql g.havingSubqueries > rect {
    stroke: black;
    stroke-dasharray: 2;
}

svg.sql g.windowingBorder > rect {
	stroke: #8c8c8c;
    stroke-dasharray: 4;
}
svg.sql .windowing > rect {
	fill: #e8e8e8;
}
svg.sql .materialisedTableName > rect {
	fill: #e8e8e8;
	
}


svg.sql g.tooltip div.tooltip .tableHeader,
svg.sql g.tooltip div.tooltip .keyIndexHeader,
svg.sql g.tooltip div.tooltip .costInfoHeader,
svg.sql g.tooltip div.tooltip .groupingOperationHeader,
svg.sql g.tooltip div.tooltip .orderingOperationHeader,
svg.sql g.tooltip div.tooltip .attachedConditionHeader,
svg.sql g.tooltip div.tooltip .nestedLoopHeader {
	font-size: 11px;
	font-weight: bold;
} 
